
img {
    max-width: 100%;
    height: auto;
}

h1 {
    text-align: center;
    background-color: lightgrey;
}

.flex-box-images {
    display: flex;
}

.flex-box-images div {
    flex: 1;
}

.flex-box-links {
    display: flex;
    text-align: center;
    flex: 1;
}

.flex-box-links a {
    flex: 1;
    background-color: lightgray;
}